body{
    background-color: #353535;
    color: #f1f1f1;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
label{
   
    
}
input[type=text]{
    width: 70%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1%;
    background-color: #191919;
    border: none;
    font-size: 150%;
    text-align: center;
    color: white;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);


}
input[type=text]:hover{
    background-color: #202020;

    transition-duration: 0.1s;
    cursor: pointer;
}
input[type=text]:focus{
    border: 2px solid gold;
    /* color: #101010; */
    
    transition-duration: 0.1s;
}
input[type=number]{
    background-color: #191919;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1%;
    border: none;
    font-size: 150%;
    width: 15%;
    text-align: center;
    color: white;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}
input[type=number]:hover{
    background-color: #202020;

    transition-duration: 0.1s;
    cursor: pointer;

}
input[type=number]:focus{
    border: 2px solid gold;

    /* color: #303030; */
    transition-duration: 0.1s;
}
.container{
    text-align: center;
    width: 100%;
}
button{
    background-color: #303030;
    color: white;
    width: 80px;
    height: 50px;
    border: none;

    border-radius: 5px;
font-weight: 700;
  

    outline: none;
    font-size: 100%;
    border: 1px solid #202020;

}
.addSquareRoom{
    left: 5%;
    position: fixed;
    bottom: 2%;
}
.addTriangleRoom{
    left: 25%;
    position: fixed;
    bottom: 2%;
}
.deleteRoom{
    width: 30px;
    height: 30px;
    font-weight: 300;
    font-size: 80%;
    float: right;
 

}
button:hover{
   
    background-color: #404040;
    
    -webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    transition-duration: 0.1s;
}
.rooms{
    width: 50%;
    height: 100%;
    /* border-right: 1px solid black; */
}
.view{
    float: right;
    width: 50%;
    height: 100%;
    /* border-left: 1px solid black; */
}
.totalNumber{
    position: fixed;
right: 0;
    bottom: 20vh;
    font-size: 150%;

 
    border-radius: 5px;
    padding: 1%;
    height: 30%;
    width: 50%;
}
.totalSingle{
    background-color: gold !important;
    color: #202020 !important;
    font-size: 125%;
    padding: 2%;
    border-radius: 5px;
    font-weight: 700;
}

.room{
    padding-bottom: 5%;
    border-bottom: 1px solid black;

}










input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}