body{
    background-color: #353535;
    color: #f1f1f1;
    font-family: Helvetica, sans-serif;
}
h1{
    text-align: center;
}

input[type=text]{
    width: 70%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1%;
    background-color: #191919;
    border: none;
    font-size: 150%;
    text-align: center;
    color: white;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);


}
input[type=text]:hover{
    background-color: #252525;

    cursor: pointer;
    transition-duration: 0.1s;
}
input[type=text]:focus{
    border: 2px solid gold;
    /* color: #101010; */
    
    transition-duration: 0.1s;
}
input[type=number]{
    background-color: #191919;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1%;
    border: none;
    font-size: 125%;
    width: 15%;
    text-align: center;
    color: white;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}
input[type=number]:hover{
    background-color: #252525;
/*     
    -webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4); */
    cursor: pointer;
    transition-duration: 0.1s;

}
input[type=number]:focus{
    border: 2px solid gold;

    /* color: #303030; */
    transition-duration: 0.1s;
}
.container{
    text-align: center;
    width: 100%;
}
button{
    background-color: transparent;
    color: white;
    width: 80px;
    height: 50px;
    border: none;

    border-radius: 5px;
font-weight: 700;
  

    outline: none;
    font-size: 100%;
    border: 1px solid #202020;

}
.addSquareRoom{
    left: 20%;
    position: fixed;
    bottom: 2%;
}
.addTriangleRoom{
    left: 25%;
    position: fixed;
    bottom: 2%;
}
.deleteRoom{
    width: 30px;
    height: 30px;
    font-weight: 300;
    font-size: 80%;
    float: right;
    z-index: 99;

}
button:hover{
   
    background-color: #404040;
    
    -webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    transition-duration: 0.1s;
}
.rooms{
    width: 50%;
    height: 100%;
    margin-top: 10vh;
    /* border-right: 1px solid black; */
}
.view{
    float: right;
    width: 50%;
    height: 100%;
    /* border-left: 1px solid black; */
}
.totalNumber{
    position: fixed;
right: 10%;
    bottom: 20vh;
    font-size: 150%;
    
 
    border-radius: 5px;
    
    height: 30%;
    width: 25%;
}
.totalSingle{
    background-color: gold !important;
    color: #202020 !important;
    font-size: 125%;
    padding: 1%;
    border-radius: 5px;
    font-weight: 700;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

}

.total{
    background-color: #353535 !important;
    
}

.room{
    padding-bottom: 5%;
    border-bottom: 1px solid black;

}


.more-info{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.print{
    position: fixed;
    right: 45px;
    bottom: 10px;
}

select{
    background-color: gold;
    border: none;
    outline: none;
    color: #202020;
    border-radius: 5px;
    
    font-weight: 700;
    font-size: 100%;
  
    padding: 1%;
}
select:hover{
    cursor:pointer;
    background-color: goldenrod;
    transition-duration: 0.2s;
}
option{
    border-radius: 5px;
    background-color: #202020;
    color: #f1f1f1;
}
option:hover{
    background-color: goldenrod;
    transition-duration: 0.2s;
    cursor:pointer;
}

.m-switcher{
    width: 50%;
    float: left;
    position: relative;
    bottom: 10vh;
   
}




.meterActive{
    background-color: gold;
    color: #353535;
}

.meterDisabled{
    background-color: #202020;
    color: #f1f1f1;
}
.meterDisabled:hover{
    background-color:goldenrod;
    color: #353535;
    transition-duration: 0.15s;
    cursor: pointer;

}

/* .fa-print::after{
    content: "Drukuj";
    background-color: #202020;
    color: #f1f1f1;
    opacity: 0;
    font-size: 80%;
    font-family: sans-serif;
    font-weight: 500;
    padding: 1%;
    border-radius: 5px;
    position: fixed;
    position: fixed;
    right: 35px;
    bottom: 40px;
}

.fa-print:hover .fa-print::after{
    opacity: 1;
} */
.fa-info-circle,.fa-print{
font-size: 150%;
}
.fa-info-circle:hover,.fa-print:hover{
   
    color: gold;
    transition-duration: 0.2s;
    cursor:pointer;
}
.fa-info-circle:active,.fa-print:active{
   
    transform: scale(0.9);
    transition-duration: 0.2s;
    
}

.m3-icon{
    width: 6%;
  
  position: relative;
  top: 1.8vh;

}

.info-container-active{
    display: block !important;
}

.info-container-disabled{
    background-color: #202020;
    width: 90vw;
    height: 90vh;
    top: 50%;
    display: none;
left: 50%;
margin-top: -45vh; /* Negative half of height. */
margin-left: -45vw; /* Negative half of width. */
position: fixed;
border-radius: 5px;
text-align: center;
font-size: 150%;
z-index: 999999;
}


.version{
    background-color: gold !important;
    color: #202020 !important;
   
    padding: 1%;
    border-radius: 5px;
    font-weight: 700;
   

}
.info-container ul li{
    text-align: left;
    font-size: 50%;
  
}






input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}