<!DOCTYPE html>
<html lang="pl" ng-app="roomApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pomieszczeniometr [DEMO]</title>

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/fontawesome-all.css">
<link rel="stylesheet" href="css/fontawesome.css">
<script src="js/angular.js"></script>

</head>
<body>
       
       
        <div class="container" ng-controller="roomsController">
            
   
    <div class="rooms">
        <div ng-repeat="room in rooms" class="room">
          <h3>   <input type="text"  tabindex="-1"  placeholder="{{room.name}}"></h3>   <button class="deleteRoom" ng-click="deleteRoom($index)">X</button>  
            <label><i class="fas fa-arrows-alt-h"></i></label> <input type="number" value="{{room.width}}" ng-model="room.width"> &nbsp;&nbsp;
            <label><i class="fas fa-arrows-alt-v"></i></label> <input type="number" value="{{room.height}}" ng-model="room.height"> <br><br>
            <span class="totalSingle"> {{ totalSingle(room) }} m<sup>2</sup></span>
         
        </div>
    </div>
         
    
           <button class="addSquareRoom" ng-click="addNewSquareRoom()" >+ Square</button>
           <!-- <button class="addTriangleRoom" ng-click="addNewTriangleRoom()">+ Triangle</button> -->
           <!-- <button type="button" ng-click="$ctrl.addElement()">Dodaj pole</button> -->

  


     <!-- <div class="view">
        <div class="squares">
            <div id="square1"></div> 
        </div> -->



         <div class="totalNumber">
            <h4>Łączny metraż</h4>
           <h2> {{total}}  m<sup>2</sup></h2>
        </div>
       
     
         </div>
          


 
      
     
        <script src="js/addroom.js"></script>
</body>
</html>