<!DOCTYPE html>
<html lang="pl" ng-app="my-app" ng-controller="myCtrl as $ctrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pomieszczeniometr [DEMO]</title>

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/fontawesome-all.css">
<link rel="stylesheet" href="css/fontawesome.css">


</head>
<body>
       
        <script src="js/angular.js"></script>
        <div class="container">
            
   
     <div class="rooms" id="rooms" >
            <div class="room" id="r1">
                <h3><input type="text" name="" id="" placeholder="Pole 1"></h3>
                <label for=""><i class="fas fa-arrows-alt-h"></i></label> <input type="number" ng-model="height1" ng-init="height1='0'" value="0" > m &nbsp;
                <label for=""><i class="fas fa-arrows-alt-v"></i></label> <input type="number" ng-model="width1" ng-init="width1='0'" value="0"> m <br><br>
                <label for="" class="totalSingle">{{ (+height1*width1) }} m<sup>2</sup></label>
            </div>
         
         
           <!-- <button class="add">+</button> -->
           <!-- <button type="button" ng-click="$ctrl.addElement()">Dodaj pole</button> -->

     </div>
          


     <div class="view">
        <div class="squares">
            <div id="square1"></div> 
        </div>



         <div class="totalNumber">
            <h3>Łączny metraż</h3>
           <h1>{{ (height1*width1)+ (height2*width2) + (height3*width3) +(height4*width4) +(height5*width5)+(height6*width6) }} m<sup>2</sup></h1>
        </div>
       
       </div>








       




        </div>
      


 
      
     
        <script src="js/addroom.js"></script>
</body>
</html>